################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Star_laba_project/.vs/Star_laba_project/FileContentIndex/1f39596e-58b3-4af6-b8ed-34c2c9de2129.vsidx
/Star_laba_project/.vs/Star_laba_project/FileContentIndex
